<mat-card>
  <h1>All Categories</h1>

  <mat-accordion class="scrollable-accordion">
    <mat-expansion-panel *ngFor="let c of categories" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title> {{ c.title }} </mat-panel-title>
       
      </mat-expansion-panel-header>
      <p>{{ c.description }}</p>
    </mat-expansion-panel>
  </mat-accordion>

  <div *ngIf="categories.length === 0" class="container text-center mt20" style="color: gray;">
    <p>No categories found. Please add new categories.</p>
  </div>

  <div class="container text-center mt20">
    <button routerLink="/admin/add-category" mat-raised-button color="accent">
      Add New Category
    </button>
  </div>
</mat-card>
