<div *ngIf="visible" class="notification" [ngClass]="type">
  <div class="container">
    <h2>
      RabbitMQ Realtime Messaging
      <button (click)="hide()">✖</button>
    </h2>

    <div *ngIf="checkUorA">
      <!-- prevent reload with $event -->
      <form (ngSubmit)="sendMessage($event)">
        <input
          type="text"
          [(ngModel)]="newMessage"
          name="message"
          required
          placeholder="Type your message"
        />
        <button type="submit">Send</button>
      </form>
    </div>

    <div class="message-box">
      <p *ngFor="let msg of visibleMessages">
        <span>Message:-</span> {{ msg }}
      </p>
    </div>

    <a (click)="getHistory()">{{ history }}</a>
  </div>
</div>
